 @font-face {
   font-family: "PT Sans";
   font-style: normal;
   font-weight: 400;
   src: url("../fonts/ptsans-400.woff2") format("woff2");
   font-display: swap;
  }

  @font-face {
   font-family: "PT Sans";
   font-style: normal;
   font-weight: 700;
   src: url("../fonts/ptsans-700.woff2") format("woff2");
   font-display: swap;
  }

  html {
    height: 100%;
  }

  body {
   margin: 0;
   display: flex;
   flex-direction: column;
   font-family: "PT Sans", sans-serif;
   font-size: 18px;
   line-height: 21px;
   color:#000000;
   background-color: #ffffff;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .reset-list {
   margin: 0;
   padding: 0;
   list-style-type: none;
  }

  .main-container {
    flex-grow: 1;
  }

  .navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
  }

  .navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 455px;
  }

  .navigation-user {
    width: 374px;
    margin-left: auto;
  }

  .navigation-user .navigation-link {
    min-width: 16px;
    min-height: 22px;
  }

  .navigation-link {
   display: block;
   font-weight: 700;
   font-style: normal;
   font-size: 20px;
   line-height: 26px;
   text-align: center;
   color: #000000;
   background-color: #ffffff;
   text-decoration: none;
   padding: 17px 20px;
  }

  .info-link {
   font-size: 16px;
   font-weight: 700;
   line-height: 20.72px;
   color: white;
   background-color:rgba(117, 98, 87, 1);
   text-transform: uppercase;
  }

  .button {
   color:black;
   background-color: white;
  }

  .page-container {
    width: 1200px;
    margin: 0 auto;
  }

  .h1-text {
    display: block;
    margin: 0 auto;
    padding-top: 51px;
  }

  .welcome-slogan {
   display: block;
   width: 1200px;
   height: 485px;
   text-align: center;
   background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
   background-size: 100% auto, 100% auto;
   background-repeat: no-repeat, no-repeat;
   background-position: bottom, top;
  }

  .welcome-text {
   width: 1200px;
   height: 282px;
   text-align: center;
   margin: 0 auto;
  }

  .welcome-intro {
   font-weight: bold;
   font-size: 30px;
   line-height: 36px;
   color: #000000;
   background-color: #ffffff;
   text-decoration: none;
   text-transform: uppercase;
   padding-top: 63px;
  }

  .advantages-photo {
   margin: 0;
   width: 800px;
   height: 384px;
  }

  .advantages-list {
   width: 1200px;
   height: 1535px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   text-align: center;
  }

  .advantages-item {
   width: 400px;
   height: 384px;
   color: black;
   background-color: rgba(131, 179, 211, 0.12);
  }

.advantages-icon {
   padding-top: 89px;
   padding-bottom: 23px;
}

.advantages-title-icon {
   margin-top: 0;
   margin-bottom: 20px;
   font-weight: bold;
   font-size: 24px;
   line-height: 28px;
   text-transform: uppercase;
}

 .advantages-title {
   margin-top: 0;
   font-weight: bold;
   font-size: 24px;
   line-height: 28px;
   text-transform: uppercase;
   padding-top: 97px;
}

.advantages-discription-number {
   padding-bottom: 30px;
}

.advantages-description {
   margin: 0;
   padding-bottom: 87px;
   font-weight: normal;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
}

.advantages-item:first-child {
   color: white;
   background-color: rgba(131, 179, 211, 1);
  }

  .advantages-item:nth-child(7) {
   color: white;
   background-color: rgba(131, 179, 211, 1);
  }

  .advantages-item:nth-child(4) {
   color: black;
   background-color: rgba(255, 255, 255, 1);

  }

  .advantages-item:nth-child(9) {
   color: black;
   background-color: rgba(131, 179, 211, 0.2);
  }

  .catalog-filter-title {
   font-weight: 700;
   font-size: 20px;
   line-height: 26px;
   color: white;
  }

  .catalog-filter-group {
   display: flex;
   justify-content: space-between;
   margin: 0;
   padding: 0;
   text-align: center;
   color: #ffffff;
   width: 150px;
  }

  .catalog-filter-item {
   font-weight: 400;
   font-size: 18px;
   line-height: 23.31px;
   color: white;
  }

  .catalog-sorting {
   font-weight: 700;
   font-style: normal;
   font-size: 30px;
   line-height: 38.85px;
   text-transform: uppercase;
  }

  .hotel-card-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 31.08px;
   color: black;
  }

  .hotel-type, .hotel-price {
   font-weight: 400;
   font-size: 18px;
   line-height: 23.31px;
   color: black;
  }

  .catalog-hotels {
   width: 1058px;
  }

  .appointment {
   text-align: center;
   width: 1200px;
   height: 417px;
  }

  .appointment-title {
   font-size: 30px;
   line-height: 36px;
   font-weight: bold;
   text-decoration: none;
   text-transform: uppercase;
   padding-top: 90px;
   margin: 0;
  }

  .appointment-text {
   padding-top: 29px;
   padding-bottom: 56px;
   margin: 0;
  }

  .appointment-section-link {
   text-align: center;
   font-weight: 700;
   font-style: normal;
   font-size: 20px;
   line-height: 26px;
   color: white;
   background-color: rgba(117, 98, 87, 1);
   text-transform: uppercase;
   text-decoration: none;
}

 .newsletter-title-catalog {
   color:black;
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;
 }

  .newsletter-title {
   padding-top: 94px;
   color: white;
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;
   text-align: center;
   background-size: 100% auto;
   background-repeat: no-repeat;
   background-position: center;
  }

  .newsletter-main {
   width: 1200px;
   height: 411px;
   font-weight: 400;
   font-size: 22px;
   line-height: 26px;
   color: white;
   text-align: center;
   background-image: url("../images/background.jpg");
  }

  .newsletter-catalog {
   font-weight: 400;
   font-size: 22px;
   line-height: 26px;
   color: black;
   text-align: center;
   }

  .newsletter-button {
   font-size: 20px;
   line-height: 26px;
   font-weight: bold;
   text-align: center;
   color: rgba(255, 255, 255, 1);
   background-color: rgba(131, 179, 211, 1);
   text-decoration: none;
   text-transform: uppercase;
  }

  .page-footer-container {
   display: flex;
   width: 1200px;
   margin: 0 auto;
   padding: 40px;
  }

  .footer-social {
   max-width: 107px;
   margin-right: 61px;
   }

  .footer-social-list {
   display: flex;
   flex-wrap: wrap;
  }

  .footer-social-item {
   width: 20px;
   height: 16px;
   margin-right: 29px;
   margin-bottom: 55px;
  }

   .contacts-phone {
   font-size: 40px;
   line-height: 40px;
   max-width: 720px;
   color: black;
   text-align: center;
   text-decoration: none;
   }

   .contacts {
   margin-left: 240px;
   width: 720px;
   height: 40px;
   }

   .about-text {
   max-width: 115px;
   margin-left: auto;
   margin-right: 72px;
   }

   .inner-header {
   color: white;
   background-image: url("../images/catalog-header-background.jpg");
   background-size: 100% auto;
   background-repeat: no-repeat;
   background-position: center;
   padding-top: 0;
   margin: 0;
   padding-left: 71px;
   width: 1200px;
   height: 408px;
   }

   .inner-header-title {
   padding-top: 65px;
   width: 528px;
   margin-top: 0;
   margin-bottom: 5px;
  }

  .breadcrumbs {
   display: flex;
  }

  .bread-crumbs-item {
   margin-right: 26px;
  }

  .button-submit {
   font-weight:700;
   font-size: 16px;
   line-height: 20.72px;
   color: white;
   background-color: #83B3D3;
   text-align: center;
   text-transform: uppercase;
  }

  .sorting-field {
   display: flex;
   padding-left: 70px;
   }

   .select-control {
   margin-left: 192px;
   }

   .items-view {
   margin-left: 81px;
   }

   .hotels-list {
   display: flex;
   flex-wrap: wrap;
   width: 1058px;
   height: 1040px;
   margin-left: 70px;
   }

   .hotel-card {
   margin-right: 10px;
   padding: 20px;
   }

   .pagination-container {
   display: flex;
   padding: 16px;
   background-color: #ffffff;
  }

  .button-pagination {
   width: 620px;
   height: 60px;
   margin-left: 289px;
   text-align: center;
  }

  .pagination {
   display: flex;
   margin: 60px;
  }

  .pagination-link {
   display: block;
   box-sizing:border-box;
   width: 56px;
   height: 55px;
   padding: 19px 20px ;
   color: #ffffff;
   background-color: rgba(131, 179, 211, 1);
   text-decoration: none;
   line-height: 16px;
   font-weight: 700;
  }

  .pagination-current {
   color: #242424;
   background-color: #ffffff;
  }

.pagination-item:not(:last-child) {
  margin-right: 7px;
}

.hotels-showing {
  width: 386px;
  height: 48px;
  margin-left: 301px;
}
